form {
  padding: 1em;
  border-radius: 4px;
  box-shadow: 4px 4px 4px 0 black;
}
input {
  border: none;
  border-bottom: 1px solid grey;
}
button {
  border: none;
  padding: 0.5em 1em;
  border-radius: 4px;
  background-color: blue;
  color: white;
  margin-left: 4px;
}
input:focus {
  outline: none;
}
input:focus + button,
button:hover {
  background-color: red;
  transition: all 0.3s;
}
